NEXTCLOUD_HOST=cloud.home.arpa
COLLABORA_HOST=office.home.arpa

NEXTCLOUD_VERSION=33-apache
NEXTCLOUD_TRUSTED_DOMAINS=cloud.home.arpa
TRUSTED_PROXIES=172.30.0.2

MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=CHANGE_ME

REDIS_PASSWORD=CHANGE_ME

COLLABORA_IMAGE=collabora/code:latest
COLLABORA_ALLOWED_DOMAIN=cloud\.home\.arpa
COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=CHANGE_ME
COLLABORA_SHM_SIZE=1gb
